@font-face {
  font-family: "HelveticaNeue";
  src: url(./images/HelveticaNeue\ Bold.ttf);
}

html,
body,
#root,
main {
  height: 100%;
  margin: 0;
}

.wrap {
  min-height: 100%;
  margin-bottom: -100px;
  background-color: #f3f4f6;
}

.columns {
  margin: 0;
}

footer {
  height: 103px;
  position: sticky;
  bottom: 0;
  background-color: #313944;
  padding: 1em 0;
  width: 100%;
}

#root {
  font-family: HelveticaNeue;
}

.login {
  background-color: #42b5e8;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.home-info {
  color: white;
  text-align: center;
  margin-top: 1em;
}

.notification {
  border-radius: 0;
}

#login-notification-bad {
  display: none;
}

#login-notification-good {
  display: none;
}

.login-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10em;
  width: auto;
}

.login-title {
  text-align: center;
  color: white;
}

.is-danger.input,
.is-danger.textarea {
  border: 3px solid #f14668;
}

.button.is-success {
  background-color: #97e493;
}

.is-success.input,
.is-success.textarea {
  border: 3px solid #97e493;
}

.green-validation {
  color: #97e493;
}

.red-validation {
  color: #f14668;
}

.navbar {
  background-color: #42b5e8;
  text-align: center;
  padding: 1em;
}

.title {
  color: white;
}

.list-option {
  text-decoration: none;
  color: #5b8092;
}

.card-content {
  padding: 1em;
}

.nav-form {
  background-color: white;
}

.columns-form {
  text-align: center;
}

.title-form {
  color: #5b8092;
}

#form-notification-bad {
  display: none;
}

#form-notification-good {
  display: none;
}

.content-form {
  margin-top: 3em;
}

.back-form {
  text-decoration: none;
  color: #5b8092;
  margin-top: 0.5em;
}

.times-record {
  text-align: right;
}

.text-record {
  padding-left: .75rem;
  margin: .5em;
}

.column-record {
  padding: 0 .75rem;
}

.footer-column {
  text-align: center;
  color: #90969b;
  padding-top: 0.5em;
}

.footer-column:hover {
  color: #90969b;
}

.footer-icon {
  color: #90969b;
}
